.box-card {
    height: 430px;
    background: rgba(255, 255, 255, 0.65);
}
.box-card-large {
    background: rgba(255, 255, 255, 0.65);
}
.box-card-sm {
    height: 200px;
    background: rgba(255, 255, 255, 0.65);
}